<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp-Mico</title>
    <link rel="shortcut icon" href="micoFavicon.ico" type="image/x-icon">
</head>
<body>
<img src="Mico-logo.png" alt="Mico Logo" width="100">

<form action="mico">
    <input  type="submit" value="click" style="background:blue"/>
</form>


<footer>
    <p style="text-align:center; font-style:italic;">
        Sign-up page in the making... just like my understanding of JavaScript. 😅 <a href="index.html">Back to Home</a>
    </p>
</footer>

</body>
</html>